
<!DOCTYPE html>
<html>

<head>
    <title>Real Estate</title>
    <link rel="stylesheet" href="/css/output.css">
   <%- style %>   
</head>

<body>
    <%- include('header'); %>
    <%- body %>
    <%- include('footer'); %>
    <%- script %>
     <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
     

</body>

</html>